.login-bg {
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/images/background.png');
  background-size: cover;
  background-position: center;
}

.login-card {
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
  background-color: white;
}



.input-custom {
  background-color: #164A81;
  color: #fff;
  height: 50px;
}
.input-custom::placeholder {
  color: #fff;
}

.login-img {
  background-color: #164A81;
}
