.section1{
    display: flex;
    gap: 20px;
    margin-top: 50px;

}

.section-buttom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px; 
    padding-bottom: 20px;
}

.section-buttom button {
    flex: 1; 
    padding: 18px 32px;     
    font-size: 1.5rem;   
    font-weight: 600;    
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-secundario {
    background-color: #fff;
    color: #333;
    border: 2px solid #e0e0e0 !important; 
}

.btn-primario {
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.section-buttom button:active {
    transform: scale(0.98);
}

.itens-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
}

.item-row {
  background-color: #e9e9e9;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-label {
  color: #555;
  font-size: 14px;
}

.contador-controls {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
}

.contador-controls button {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.quantidade-valor {
  padding: 0 8px;
  font-size: 14px;
  min-width: 20px;
  text-align: center;
}

/* Campo de Observações */
.observacoes-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-search-container input {
  width: 100%;
  background-color: #e9e9e9;
  border: none;
  padding: 12px;
  border-radius: 6px;
}