.fundo-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.caixa-modal {
    width: 350px;
    height: 200px;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho-modal {
    display: flex;
    align-items: center;
    gap: 10px;
}


.cabecalho-modal img {
    width: 35px;
    height: 35px;
}

.cabecalho-modal h2 {
    font-size: 1.1rem;
    margin: 5px 0 0 0;
    font-weight: 600;
}

.texto-modal {
    font-size: 1rem;
    margin: 0;
}

.botoes-modal {
    display: flex;
    gap: 10px;
}

.botao-confirmar {
    flex: 1;
    background-color: #4caf50;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 0;
}

.botao-confirmar:hover {
    background-color: #43a047;
}

.botao-cancelar {
    flex: 1;
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
}

.botao-cancelar:hover {
    background-color: #d5d5d5;
}