.resumo-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 60%;
    padding: 16px;
    border: 3px solid #868686;
    border-radius: 10px;
    background-color: #FDFDFD;
}

.bar-menu {
    display: flex;
    width: 100%;
    height: 10%;
    border-radius: 10px;
}

.bar-options {
    display: flex;
    width: 75%;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    background-color: #e3e3e3;

    .buttons {
        display: 1;
        font-size: 16px;
        width: 50%;
        border: none;
        border-radius: 6px;
        background-color: transparent;
    }

    .selecionado {
        border: none;
        color: black;
        background-color: white;
        font-weight: bold;
    }
}

.options-action {
    width: 25%;
    height: 100%;
    padding: 0 0 0 10px;

    .buttons {
        border: none;
        border-radius: 8px;
        background-color: transparent;
    }

    .icon {
        display: flex;
        align-items: center;
        color: rgb(255, 1, 1);

    }

    .imprimir {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 100%;
        border: 2px solid #e3e3e3;
        background-color: white;
        border-radius: 8px;
    }

    .add {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 8px;

        .buttons {
            color: white;
        }
    }


}