.modal-desativar-container {
    border-radius: 15px;
    padding: 10px;
}

.titulo-modal-desativar {
    color: #333;
    font-size: 1.6rem;
}

.alerta-danger-custom {
    background-color: #e33e4b;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.95rem;
    justify-content: center;
}

.info-item-card {
    border: 1px solid #e9ecef;
    border-radius: 12px;
    background-color: #fff;
}

.label-form {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 5px;
}

.input-cinza-claro {
    background-color: #e9ecef !important;
    border: none !important;
    border-radius: 6px !important;
    text-align: center;
    color: #495057;
    font-size: 0.9rem;
    height: 38px;
}

.ponto-privado {
    width: 16px;
    height: 16px;
    background-color: #495057;
    border-radius: 50%;
}

/* Botões */
.btn-danger-custom {
    background-color: #dd2333;
    border: none;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
  
}

.btn-danger-custom:hover {
    background-color: #c82333;
}

.btn-outline-cancelar-custom {
    background-color: transparent;
    border: 1px solid #ced4da;
    color: #6c757d;
    font-weight: 500;
    padding: 12px;
    border-radius: 10px;
}


.cursor-pointer {
    cursor: pointer;
}

.checkbox-custom {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #495057;
    border-radius: 50%; 
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.checkbox-custom:checked {
    background-color: #495057;
}

.checkbox-custom:checked::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    display: block;
}

.checkbox-custom:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}