.modal-entrada {
    border-radius: 14px;
    padding: 10px 18px;
}



.input-placa {
    background: #e5e5e5;
    border: none;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 15px;
}

.botao-pesquisar {
    background-color: #0b3d73;
    color: white;
    height: 48px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.2s ease;
}

.botao-pesquisar:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

/* estilos etapa 2 */
.info-veiculo-card {
    background-color: #0C4177; 
    color: white;
    border-radius: 10px;
}

.info-veiculo-card .user-icon {
    font-size: 32px;
    color: white;
    margin-top: 3px;
}

.info-veiculo-card .linha-superior {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    margin-bottom: 4px;
}

.info-veiculo-card .linha-inferior {
    font-size: 15px;
}
