/* Layout Geral */
.container-principal {
    padding: 20px;
    background-color: #f9f9f9;
}

.header-analise h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}



.stepper-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
}

.layout-grid {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* Coluna Esquerda: Tabela e Abas */
.resumo-container-tabela {
    flex: 3;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.bar-options.full {
    display: flex;
    background-color: #e3e3e3;
    border-radius: 8px;
    padding: 4px;
    width: 100%;
}

.bar-options .buttons {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.bar-options .selecionado {
    background-color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.tabela-financeira {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-financeira th {
    text-align: left;
    color: #666;
    padding: 12px 8px;
    border-bottom: 2px solid #eee;
}

.tabela-financeira td {
    padding: 15px 8px;
    border-bottom: 1px solid #eee;
}

.badge-tipo {
    background-color: #eee;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 13px;
}

.icon-opcoes {
    font-size: 20px;
    cursor: pointer;
    color: #444;
}

/* Coluna Direita: Card e Botões */
.coluna-acoes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-resumo-financeiro {
    background-color: rgb(236, 232, 232);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 90%;
    margin-left: 40px;
}

.card-resumo-financeiro h3 {
    font-size: 16px;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.resumo-detalhes {
    font-size: 14px;
}

.linha-resumo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.total-geral {
    font-size: 18px;
    margin-top: 10px;
}

.divisor {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

/* Botões de Ação */
.coluna-acoes button {
    padding: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    width: 90%;
    margin-left: 40px;
    
}

.btn-concluir { background-color: #4CAF50; color: white; }
.btn-dados-veiculo { background-color: #164A81; color: white; }
.btn-entrada-veiculo { background-color: #000; color: white; }
.btn-voltar { 
    background-color:   white; 
    color: #333; 
    border: 1px solid #ddd !important; 
}