.kpi-card {
  width: 100%;
  overflow: hidden;
  /* height: 140px; */
  border-radius: 8px;
  padding: 16px;
  background: linear-gradient(135deg, var(--cor1), var(--cor2));
  color: var(--cor-texto);
  flex: 0 1 260px;
  min-width: 260px;

  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.kpi-card.ativo {
  border: 5px solid;
  border-color: var(--cor-borda);
  transform: scale(1.07);
  box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.22);
}

.kpi-card.ativo:hover {
  transform: translateY(-3px) scale(1.07);

}

.kpi-card:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.18);
}

/* textos */
.kpi-status {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 12px;
}

.kpi-valor {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.kpi-descricao {
  font-size: 15px;
  margin-top: 12px;
  font-weight: 300;
}