.componentesInferiores{
    display: flex;
    height: 70%;
    gap: 10px;
}

.componentesDireita{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.titulos-principais{
    height: 10%;
}

.titulo-principal{
    font-size: 32px;
    margin: 0px;

}

.subtitulo-principal{
    font-size: 16px;
}