.modal-entrada {
    border-radius: 16px !important;
    padding: 10px 5px 25px;
}

.botao-principal {
    background-color: #0b3d73;
    color: white;
    font-weight: bolder;
    border-radius: 12px;
    padding: 14px;
    border: 3px solid #6b9fd6;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.botao-principal:hover {
    background-color: #0a3666;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.botao-secundario {
    background: #ffffff;
    color: black;
    font-weight: bolder;
    border-radius: 12px;
    padding: 14px;
    border: 1px solid black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

}

.botao-cancelar {
    background: #ffffff;
    color: black;
    font-size: 18px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    font-weight: bolder;

}

.botao-secundario:hover,
.botao-cancelar:hover {
    background-color: #ebeaea;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

/* estilos etapa 2 */

.foto-card {
    background-color: #0C4177;
    border-radius: 10px;
    color: white;
}

.texto-foto {
    font-size: 16px;
    line-height: 22px;
}

.foto-caixa {
    width: 100%;
    height: 120px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.foto-caixa:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.08);
}

.foto-caixa i {
    font-size: 34px;
}

