.sidebar {
    height: auto;
    background-color: #0C2F52;
    color: #fff;
    border-right: 2px solid #164A81;
}

.logo-img {
    width: 45px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.logo-box h5 {
    color: #fff;
}

.menu li {
    padding: 12px 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu li:hover {
    background-color: #164A81;
}

.menu li.ativo {
    background-color: #e7ebfa;
    color: black;
}

.menu li.ativo:hover {
    background-color: rgb(187, 187, 187);
    color: black;
}

.user-card {
    background-color: #e7ebfa;
    color: #000;
    display: flex;
}

.user-card i {
    font-size: 20px;
}

.logout-btn {
    color: #fff;
    font-size: 18px;
}

.logout-btn:hover {
    opacity: 0.7;
}