.analise-financeira .kpi-card {
      flex: 0 1 auto;
}

.analise-financeira .servico-card {
      width: auto;
}

.texto-raia {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: rgb(73, 73, 73);
}   