.servico-card {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  padding: 25px;
  border-left:4px solid var(--cor);
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
