.servico-card {
  width: 400px;
  min-height: 50px;
  border-radius: 12px;
  padding: 10px;
  border-left: 4px solid var(--cor);
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}

.servico-card .btn-status {
  background-color: var(--cor);
  color: white;
}


.servico-card hr {
  margin: 8px 0;
  background-color: rgb(231, 231, 231);
  height: 2px;
}
