.cor-fonte{
  color:var(--cor);
}

.servico-card {
  width: 520px;
  border-radius: 12px;
  padding: 12px;
  border-style: solid;
  border-color: var(--cor);
  border-width: var(--borda);
  justify-content: center;
  background-color: #f5f4f4;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.2s ease;
  font-size: 24px;
}

.servico-card .btn-status {
  background-color: var(--cor);
  color: white;
  font-weight: bolder;
}


.servico-card hr {
  margin: 8px 0;
  background-color: rgb(231, 231, 231);
  height: 2px;
}