.servico-card {
  width: 450px;
  height: fit-content;
  border-radius: 12px;
  padding: 10px;
  border-left: 4px solid var(--cor);
  background-color: #f5f4f4;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.2s ease;
}

.servico-card .btn-status {
  background-color: var(--cor);
  color: white;
}


.servico-card hr {
  margin: 8px 0;
  background-color: rgb(231, 231, 231);
  height: 2px;
}
