.cor-fonte{
  color:var(--cor);
}

.servico-card {
  width: 520px;
  border-radius: 12px;
  padding: 12px;
  border-style: solid;
  border-color: var(--cor);
  border-width: var(--borda);
  justify-content: center;
  background-color: #f5f4f4;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.2s ease;
  font-size: 24px;
}

.servico-card .btn-status {
  background-color: var(--cor);
  color: white;
  font-weight: bolder;
}


.servico-card hr {
  margin: 8px 0;
  background-color: rgb(231, 231, 231);
  height: 2px;
}

.servico-card-2 {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 100%; 
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.card-header i {
  font-size: 1.7rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.input-group-row {
  display: flex;
  gap: 10px;
}

.input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #f3f3f3;
  border: none;
  border-radius: 4px;
  padding: 8px;
}