/* CONTAINER PRINCIPAL E CENTRALIZAÇÃO */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  outline: 0;
}

.modal-dialog {
  max-width: 800px; 
  width: 100%;
}

.modal-servico {
  border-radius: 8px; 
}

/* CARD CINZA */
.card-info-servico {
  background: #F7F7F7;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  padding: 16px;
  margin-top: 2px;
}

/* TÍTULO */
.titulo-servico {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  color: #333;
}

/* TABS */
.tabs-servico {
  display: inline-flex;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 3px;
  gap: 2px;
  margin-bottom: 12px;
}

.tabs-servico button {
  border: none;
  background: transparent;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 8px;
  color: #333;
  transition: background-color 0.2s;
}

.tabs-servico button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.tabs-servico .ativo {
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.form-control,
.form-select {
  border: none !important; 
  background-color: #E0E0E0 !important; 
  padding: 0.75rem 1rem !important; 
  border-radius: 0.25rem !important; 
  box-shadow: none !important; 
  font-size: 0.9rem; 
  color: #333; 
}


.form-control:focus,
.form-select:focus {
  border: none !important; 
  box-shadow: none !important; 
  background-color: #e9ecef !important; 
}


.form-select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center; 
  background-size: 16px 12px; 
  padding-right: 2.5rem !important; 
}

/* TEXTO INFORMATIVO */
.texto-info {
  font-size: 12px;
  color: #6c6c6c;
  margin-top: 0;
  margin-bottom: 15px;
}

/* LABEL */
label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #444;
}

/* BOTÕES MODAL */
.botoes-modal {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-adicionar, .btn-cancel {
  flex: 1;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}

.btn-adicionar {
  background: #4CAF50;
  color: white;
  border: none;
  transition: opacity 0.2s;
}

.btn-adicionar:hover {
  opacity: 0.9;
}

/* ESTILO DO BOTÃO DE CANCELAR DA REFERÊNCIA */
.btn-cancel {
  background: #ffffff;
  color: #333;
  border: 1px solid #c4c4c4;
  transition: background-color 0.2s;
}

.btn-cancel:hover {
  background: #f0f0f0;
}

/* componente ordem serviço */
.modal-body .section p {
    font-size: 16px;
}

.modal-body .section p:first-child {
    font-size: 18px;
}