.resumo-orcamento {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 16px;
    border: 1px solid #ababab;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.box-titulo {
    display: flex;
    border-bottom: 2px solid black;
    height: 40px;
    align-items: center;
}

.icon {
    width: 40px ;
    height: 40px ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo {
    padding: 5px 0 0 0;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.box-infos {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 2% 0;
}

.box-chaves {
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: space-between;
}

.box-valores {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: bold;
    height: auto;
    justify-content: space-between;
}

.box-total{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 40px;
    border-top: 2px solid black;
    font-size: 20px;
}

.valorTotal{
    font-weight: bold;
    text-align: right;
}

.chaveTexto{
    height: 30px;
}

.valoresTexto{
    height: 30px;
}
